body{
	background-color: black;
}

.head {
	border: 2px solid black;
    border-bottom-color: rgb(255, 153, 0);
	background-color: black;
}

.head h1{
	text-align: center;
    font-size: 60px;
	color: rgb(255, 153, 0);
    letter-spacing: 9px;
	font-family: 'Lora', serif;
}

.authorization{
	margin-top: 6%;
}

.registration {
	margin-top: 4%;
}

.authorization h1,
.registration h1 {
	font-size: 27px;
	text-align: center;
	color: #fff;
}

.authorization label,
.registration > form > div > label{
	margin-top: 7px;
    margin-bottom: -1px;
	font-weight: 100;
	color: #fff;
	width: 100%;
	font-size: 15px;
}

.authorization .form-group,
.registration .form-group{
	width: 100%;
	padding-left: 26px;
}

.authorization .form-group input,
.registration .form-group input{
	width: 90%;
	color: black;
}

.authorization button {
    width: 30%;
    margin-top: 12px;
    margin-left: 41px;
    float: left;
}

.registration button{
    margin-top: 3%;
	margin-left: 85px;
    font-size: 16px;
}

body > div.menu.col-lg-12 > a:nth-child(1):visited,
body > div.menu.col-lg-12 > a:nth-child(2):visited,
body > div.menu.col-lg-12 > a:nth-child(3):visited,
body > div.menu.col-lg-12 > a:nth-child(4):visited,
body > div.menu.col-lg-12 > a:nth-child(5):visited,
body > div.menu-firm.col-lg-12 > a:nth-child(1):visited,
body > div.menu-firm.col-lg-12 > a:nth-child(2):visited,
body > div.menu-firm.col-lg-12 > a:nth-child(3):visited,
body > div.menu-firm.col-lg-12 > a:nth-child(4):visited,
body > div.firm-orderhist-content.col-lg-12 > div > div.but.col-lg-12 > p:nth-child(1) > a:hover,
body > div.client-orderhist-content.col-lg-12 > div > div.but.col-lg-12 > p:nth-child(1) > a:hover{
	color:black;
}

.registration > li{
    list-style-type: none;
	margin-left: 35%;
	margin-top: 1%;
	height: 100px;
}

.form-control{
	font-size: 16px;
}

.authorization > li{
    list-style-type: none;
    text-align: right;
    margin-right: 14%;
    margin-top: 5%;
}

.authorization > li a,
.registration > li a{
	font-size: 17px;
	text-decoration: underline;
	color: rgb(255, 153, 0);
}

.registration > li a{
	margin-left: -1%;
}

#but-order-serv > button,
#but-order-serv > button:focus{
    color: black;
	background-color: rgb(208, 81, 10);
    border-color: rgb(255, 153, 0);
	font-size: 25px;
	margin-top: 7%;
	outline: none;
}

.warning{
	border: 1px solid;
    position: fixed;
    bottom: 0;
	border: 1px solid rgba(0, 0, 0, 0)
}

.warning h3 {
	text-align: center;
	margin-bottom: 2%;
    margin-top: 2%;
	color: #fff;
	font-size: 23px;
	font-family: 'Kurale', serif;
}

.warning hr{
	border-top: 1px solid rgb(255, 153, 0);
}

.history .order{
	background-color: #fff;
	padding-bottom: 2%;
}

.history .order h4{
	color:#fff;
    text-align: center;
    margin-top: 20px;
	font-family: 'Kurale', serif;
	margin-left: 0%;
	font-size: 35px;
}

.info-order > .order-clint-firm > h4,
.info-order > .order-firm > h4,
.info-order > .order-clint-organ > h4,
.info-order > .order-organ > h4{
	color:black;
    padding-left: 36%;
}

.history .order > hr{
	margin-left: 70px;
    margin-right: 70px;
	margin-top: 5px;
    border-top: 1px solid rgb(255, 153, 0);
}

.order-clint-firm > p:nth-child(6),
.order-clint-organ > p:nth-child(6){
	margin-bottom: 30%; 
}

.info-order{
	margin-top: 2%;
}

.info-order .order-clint-firm,
.info-order .order-firm,
.info-order .order-clint-organ,
.info-order .order-organ{
	background-color: #fff;
}

.info-order .order-clint-firm,
.info-order .order-clint-organ{
	padding-bottom: 14px;
}

.info-order .order-clint-firm h3,
.info-order .order-clint-organ h3{
	padding-bottom: 11px;
}


.client-profile > a.btn.btn-default{
	background: rgb(208, 81, 10);
    border: 1px solid rgb(255, 153, 0);
	padding-top: 13px;
	border-radius: 6px;
}

.but .btn-default{
	background: rgb(208, 81, 10);
    border: 1px solid rgb(255, 153, 0);
	border-radius: 6px;
}

.client-profile > a.btn.btn-default{
	padding-top: 10px;
	position: absolute;
    top: 109%;
    left: 4%;
    font-size: 19px;
    color: black;
}

.info-order .order-clint-firm hr,
.info-order .order-firm hr,
.info-order .order-clint-organ hr,
.info-order .order-organ hr{
	margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 27%;
    margin-right: 14%;
    border-top: 1px solid rgb(255, 153, 0);
}

.info-order .order-firm hr,
.info-order .order-organ hr{
    margin-left: 20%;
    margin-right: 20%;
}

.info-order > p{    
	color: black;
}

.menu,
.menu-firm,
.menu-the-end,
.marker-menu-firm,
.marker-menu{
	padding: 0px;
}

body > div.menu.col-lg-12 > a:nth-child(4){
	margin-left: -9px;
}

.menu-firm .btn,
.menu .btn{
	width: 100%;
	border-radius: 0px;
    height: 52px;
	font-size: 20px;
	background-color: rgb(208, 81, 10);
    border: 1px solid black;
	font-family: 'Kurale', serif;
}

.menu-the-end .btn{
	width: 26%;
	margin-right: -21px;
	border-radius: 0px;
    height: 52px;
	font-size: 20px;
	background-color: rgb(210, 204, 200);
    border: 1px solid black;
	font-family: 'Kurale', serif;
}

body > div.menu-the-end.col-lg-12 > a:nth-child(4){
	background-color: rgb(208, 81, 10);
	margin-left: -4px;
}

.window-the-end{
    margin-top: 1%;
}

.window-the-end h1{
    color: #de0909;
    text-align: center;
    margin-top: 13%;
	font-family: 'Russo One', sans-serif;
    font-size: 47px;
}

.menu-the-end > .btn-default:nth-child(4) {
	color: black;
}

.menu a,
.menu-firm a{
	padding-top: 10px;
	color: black;
}

#hist-client > table > thead > tr > td:nth-child(1){
	width: 5%;
}

#hist-client > table > thead > tr > td:nth-child(2){
	width: 15%;
}

#hist-client > table > thead > tr > td:nth-child(3){
	width: 20%;
}

#hist-client > table > thead > tr > td:nth-child(4){
	width: 20%;
}

#hist-client > table > thead > tr > td:nth-child(5){
	width: 20%;
}

#hist-client > table > thead > tr > td:nth-child(6){
	width: 20%;
}

#hist-firm > table > thead > tr > td:nth-child(1),
#hist-organ > table > thead > tr > td:nth-child(1){
	width: 46px;
}

#hist-firm > table > thead > tr > td:nth-child(2),
#hist-organ > table > thead > tr > td:nth-child(2){
	width: 81px;
}

#hist-firm > table > thead > tr > td:nth-child(3),
#hist-organ > table > thead > tr > td:nth-child(3){
	width: 213px;
}

#hist-firm > table > thead > tr > td:nth-child(4),
#hist-organ > table > thead > tr > td:nth-child(4){
	width: 213px;
}

#hist-firm > table > thead > tr > td:nth-child(5),
#hist-organ > table > thead > tr > td:nth-child(5){
	width: 172px;
}

#hist-firm > table > thead > tr > td:nth-child(6),
#hist-organ > table > thead > tr > td:nth-child(6){
	width: 108px;
}

#hist-firm > table > thead > tr > td:nth-child(7),
#hist-organ > table > thead > tr > td:nth-child(7){
	width: 98px;
}

#hist-firm > table > thead > tr > td:nth-child(8),
#hist-organ > table > thead > tr > td:nth-child(8){
	width: 156px;
}

#hist-firm > table > thead > tr > td:nth-child(9),
#hist-organ > table > thead > tr > td:nth-child(9){
	width: 49px;
}

#hist-firm > table > thead > tr > td:nth-child(10),
#hist-organ > table > thead > tr > td:nth-child(10){
	width: 5%;
}

#hist-organ > table > tbody > tr > td:nth-child(5){
	width: 1%;
}

#hist-organ > table > thead > tr > td,
#hist-client > table > thead > tr > td,
#hist-firm > table > thead > tr > td,
#tab-selobj > div > table > thead > tr > td,
#tab-selgun > form > div > table > thead > tr > td,
#tab-sellocale > form > div > table > thead > tr > td{
	color: #fff;
	font-size: 19px;
}

#hist-firm > table > tbody > tr > td:nth-child(1) > input[type="checkbox"]:focus{
	outline: none;
}

.history h1,
.history h3,
.client-profile h3,
.order-of-services h3,
.about-content h3,
.about-content h4,
.setting-content-pravoorg h3,
.setting-content-firm h3{
	font-size: 30px;
    margin-left: 3%;
	margin-top: 40px;
}

.about-content h3,
.about-content h4{
	padding-bottom: 10px;
}
.about-content h4{
	font-size: 24px;
}

.about-content p,
.about-content li{
	margin-left: 3%;
	color: #fff;
	font-size: 18px;
}

.history #tab-client{
	margin-top: 47px;
    margin-left: 11%;
}

.history #tab-firm,
.history #tab-organ {
	margin-top: 47px;
}

.history .order{
	border: 2px solid #fff;
	background-color: black;
}

.order > p,
.order-clint-firm p,
.order-firm p,
.order-clint-organ p,
.order-organ p{
    font-size: 18px;
	color: #fff;
}

.but p{
	text-align: center;
    margin-top: 10px;
}

.but a{    
	color: black;
	font-size: 19px;
}

.order-of-services h4 {
	font-size: 25px;
}

.history h4{
	font-size: 25px;
    margin-left: 4%;
    margin-top: 30px;
}

#tab-infclient,
#tab-inford{
	margin-left: 4%;
}

#tab-infclient > table > tbody > tr:nth-child(1) > td.text-center,
#tab-inford > table > tbody > tr:nth-child(1) > td.text-center {
	width: 50%;
}

#tab-infclient > table > tbody > tr > td.text-center{
	padding: 18px;
}

.price-filter,
.date-filter,
.typeobj-filter,
.login-filter,
.fio-filter,
.status-filter,
.account-status-filter {
	display: inline-block;
}

#edit-filter-typeobj,
#edit-filter-status{
	padding: 0;
}

.fio-filter{
	width: 18%;
}

.typeobj-filter{
	width: 14%;
}

.login-filter{
	width: 18%;
	margin-left: 18px;
}

.price-filter{
	width: 9%;
}

.date-filter{
	width: 8%;
}

.status-filter{
	width: 13%;
}

.account-status-filter{
	width: 12%;
	margin-left: 1%;
}

.filter{
	margin-top: 2%;
}

#edit-filter-typeobj,
#edit-filter-status,
#edit-filter-account-status{
	padding-top: 1px;
}
#edit-filter-price-2,
#edit-filter-date-2{
	margin-top: 8%;
}

#search-login > input,
#search-price > input,
#search-typeobj > input,
#search-status > input,
#edit-filter-login > input,
#search-date > input,
#search-account-status > input,
#edit-filter-typeobj,
#edit-filter-status,
#edit-filter-account-status{
	color:black;
	font-size: 17px;
}

.login-filter > label,
.price-filter > label,
.status-filter > label,
.typeobj-filter > label,
.date-filter > label,
.account-status-filter > label,
.fio-filter> label{
	color: #fff;
	font-weight: 500;
	font-size: 15px;
}

.buttons-firm.col-lg-12 > button:nth-child(1){
	margin-left: 0%;
    width: 10%;
}

.buttons-firm.col-lg-12 > button:nth-child(2){
	width: 10%;
    margin-left: 10px;
}

.buttons-firm.col-lg-12 > button:nth-child(3){
	margin-left: 46%;
}

.buttons-firm > button:focus{
	outline: none;
}

.buttons-firm{
	margin-top: 15px;
}

.buttons-firm,
.buttons-pravoorgan{
	height: 80px;
}

#tab-infclient > table,
#tab-inford > table{
	color: #fff;
    font-size: 16px;
}

.history h3,
.history h4,
.client-profile h3,
.order-of-services h3,
.order-of-services h4,
.about-content h3,
.about-content h4,
.setting-content-firm h3,
.setting-content-pravoorg h3{
	color: rgb(255, 153, 0);
}

#hist-client > table,
#hist-firm > table,
#hist-organ > table{
	background-color: rgba(255, 255, 255, 0);
}

#hist-firm > table > thead,
#hist-client > table > thead,
#hist-organ > table > thead{
	background-color: black;
}

.table-bordered {
    border: 2px solid #fff;
}

/*more-link*/
tbody > tr > td > a{
	color: black;
    font-size: 17px;	
}

.client-profile .profile-info{
	margin-left: 3%;
    margin-top: 3%;
	padding-top: 2%;
	padding-bottom: 1%;
	border: 1px solid #fff;
}

body > div.client-profile.col-lg-12 > a{
	margin-top: 4%;
    margin-left: 3%;
	width: 11%;
	font-size: 17px;
	border-radius: 0px;
	color: black;
}

.client-profile .profile-info p{
	color: #fff;
	font-size: 17px;
}

.content-image img{
	width: 90%;
	margin-top: 4%;
	opacity: 0.1;
	margin-left: 13%;
}

.content-image-1 img{
	width: 83%;
	margin-top: 4%;
	opacity: 0.1;
	margin-left: 10%;
}

.content-image-2 img{
	width: 92%;
	margin-top: 4%;
	opacity: 0.1;
}

.home-content img,
#first-img{
	position: fixed;
    width: 85%;
    left: 7%;
    opacity: 0.1;
}

.firm-prof-content img{
    position: fixed;
    width: 93%;
    left: 2%;
    opacity: 0.1;
}

.registration-content img,
.client-prof-content img,
.hist-client-content img,
.firm-orderhist-content img,
.bg-registration img,
.bg-checkout img,
.bg-about-content img,
.bg-firm-profile img,
.bg-the-end img,
.bg-setting img{
    position: fixed;
    width: 100%;
    left: 0%;
    opacity: 0.1;
}

.bg-history-client img,
.bg-history-pravoorgan img,
.bg-order-of-services img{
    position: fixed;
    width: 100%;
    opacity: 0.1;
}
	
#first-img{
    width: 93%;
}

.home-content,
.registration-content,
.hist-client-content,
.client-prof-content,
.client-orderhist-content,
.firm-orderhist-content,
.firm-prof-content,
.history,
.order-of-services,
.about-content,
.setting-content-pravoorg,
.setting-content-firm{
	font-family: 'Kurale', serif;
}

.select-object,
.select-gun,
.select-locale{
    margin-top: 2%;
    margin-left: 3%;
}

.table-select-date{
	margin-left: 4%;
}

.table-select-date{
	margin-top: 2%;
}

.form-group.download-img-obj label,
.form-group.download-img-gun label,
.form-group.download-img-locale label,
.sel-obj-part > label,
.sel-gun-part > label,
.sel-locale-part > label,
#tab-selobj > label,
#tab-selgun > label,
#tab-sellocale > label,
#tab-sellocale > form > div.form-group > label,
#tab-selgun > form > div.form-group > label{
	color: rgb(255, 153, 0);
    margin-top: 2%;
    font-size: 18px;
	font-weight: 100; 
}

#edit-select-obj,
#edit-select-gun,
#edit-select-locale{
	width: 100%;
	color: black;
	font-size: 18px;
    padding-top: 1px;
}

.table-select-obj,
.table-select-locale,
.table-select-gun{
	margin-top: 20px;
}

#files,
#files-gun,
#files-locale{
	font-size: 20px;
	font-family: 'Kurale', serif;
	color: yellow;
}

#datetimepicker1 > input{
	font-size: 16px;
}

.scroll-table{
	height: 252px;
    overflow: auto;
}

#client-check{
	background-color: #fff;
    margin-top: 4%;
	font-family: 'Kurale', serif;
	color: black;
}

#client-check > form > h3,
#client-check > form h4{
	text-align: center;
}

#client-check > form > h3{    
	font-size: 45px;
    font-weight: 600;
}

#client-check > form > h4{
	font-size: 23px;
}

.check > form > hr{
	border-top: 1px solid black;
}

.check > form > p{
	border-bottom: 1px dashed;
    padding-bottom: 7px;
}

.checkout{
	padding-bottom: 10%;
}

#client-check > form > p:nth-child(15){
	padding-top: 15px;
}

#client-check > form > p:nth-child(16),
#client-check > form > p:nth-child(3),
#client-check > form > p:nth-child(7),
#client-check > form > p:nth-child(11){
	border-bottom: none;
	padding-bottom: 0px;
}

#client-check > form > p{
	font-size: 15px;
}

#client-check > form > p:nth-child(16) > strong{
	font-size: 20px;
}

.btn-checkout .btn-primary:focus{
	background-color:#fff;
	color:black;
	border-color: rgb(255, 153, 0);
}

.btn-checkout{
	padding-bottom: 4%;
    width: 100%;
    padding-left: 17%;
}

#client-check > form > div > button:nth-child(2){
	width: 40%;
}

#datepicker > form > span{
	position: relative;
    left: 142px;
    bottom: 30px;
    background-color: #fff;
}

#datepicker > form > input[type="date"]{
	width: 100%;
    height: 30px;
}

.order-of-services{
    padding-bottom: 15%;
}

.but-order-services{
	padding-left: 5%;
}

.glyphicon.glyphicon-eye-open{
	color:#fff;
	font-size: 34px;
}

.glyphicon.glyphicon-eye-open:hover{
	color: rgb(255, 153, 0);
}

.scroll-table > table > thead > tr > td{
	font-size: 20px;
    color: #fff;
}
.table-bordered>tbody>tr>td{
	font-size: 18px;
    color: #fff;
}

#select-date > input{
	font-size: 17px;
}

.order-of-services .form-control{
	font-size: 14px;
	color: black;
}

#tab-selobj > form > div > table > thead > tr > td:nth-child(1),
#tab-selgun > form > div > table > thead > tr > td:nth-child(1),
#tab-sellocale > form > div > table > thead > tr > td:nth-child(1){
	width: 4%;
}

#tab-selobj > form > div > table > thead > tr > td:nth-child(2),
#tab-selgun > form > div > table > thead > tr > td:nth-child(2),
#tab-sellocale > form > div > table > thead > tr > td:nth-child(2){
	width: 30%;
}

.name-inform-row{
    text-align: end;    
}

.inform-person{
	margin-bottom: 1%;
	padding: 0px;
}

.name-inform-row label{
	color: rgb(255, 153, 0);
	font-weight: 100;
	margin-top: 6%;
	font-size: 17px;
}

.dop-inform-obj label,
.dop-inform-gun label,
.dop-inform-locale label{
	color: rgb(255, 153, 0);
	font-weight: 100;
	font-size: 18px;
}

.dop-inform-obj,
.dop-inform-gun,
.dop-inform-locale{
    margin-top: 1%;
}	

#dop-inf-obj,
#dop-inf-gun,
#dop-inf-locale{
	height: 184px;
	color: black;
	font-size: 18px;
}

.hidden-inform {
	padding-top: 3%;
}

.form-animal,
.form-inanimate{
	display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
	margin-left: -19%;
}

.bootstrap-datetimepicker-widget.usetwentyfour.dropdown-menu.picker-open.bottom > ul > li.picker-switch.accordion-toggle > a,
.bootstrap-datetimepicker-widget.usetwentyfour.dropdown-menu.picker-open.top > ul > li.picker-switch.accordion-toggle{
	display: none;
}

#the-end-btn{
	font-size: 22px;
    color: black;
    margin-left: 43%;
    margin-top: 11%;
    background-color: rgb(208, 81, 10);
    border-color: rgb(255, 153, 0);
	width: 13%;
	border: 3px solid;
	-webkit-animation: the-end-btn 2s linear 2s infinite;
	animation: the-end-btn 2s linear 2s infinite;
}

@-webkit-keyframes the-end-btn {
	0% {background: #de0909; border-color: #de0909}
	50% {background: rgb(208, 81, 10); border-color: rgb(208, 81, 10)}
	100% {background: #de0909; border-color: #de0909}
}

@keyframes the-end-btn {
	0% {background: #de0909; border-color: #de0909}
	50% {background: rgb(208, 81, 10); border-color: rgb(208, 81, 10)}
	100% {background: #de0909; border-color: #de0909}
}

#the-end-btn:hover{
	background-color:#fff;
}

.form-person > .first-column,
.form-person > .second-column{
	padding: 0;
}

.first-column > .inform-person >input,
.second-column > .inform-person >input{
	width: 60%;
	font-size: 16px;
}

.second-column > div:nth-child(4) > div,
.second-column > div:nth-child(3) > div{
	padding: 0;
    text-align: center;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

.buttons-filter{
	position: absolute;
    bottom: 210px;
    padding-left: 70px;
}

.buttons-filter button,
.buttons-filter > button.btn.btn-primary:hover,
.buttons-filter > button.btn.btn-primary:active,
.buttons-filter > button.btn.btn-primary:focus{
	color: black;
    background-color:rgb(236, 171, 59);
	border-color: black;
	font-size: 17px;
}

.buttons-filter > button.btn.btn-primary:focus,
.buttons-pravoorgan > .btn-primary:focus{
	outline: none;
}

.map{
	padding-bottom: 5%;
	height: 400px;
}

.setting-content-firm > ul{
	padding-bottom: 2%;
}

.setting-content-pravoorg > ul,
.setting-content-firm > ul{
    margin-left: 3%;
    font-size: 19px;
    color: rgb(255, 153, 0);
}

.setting-content-pravoorg > ul li,
.setting-content-firm > ul li{
	float: left;
}

.first-setting > input,
.second-setting > input,
.third-setting > input{
	color:black;
}

.setting-content-pravoorg > ul > .first-setting > input{
	width: 12%;
	margin-left: 66%;
}

.setting-content-pravoorg > ul > .second-setting > input{
	width: 12%;
	margin-left: 45%;
}

.setting-content-pravoorg > ul > .third-setting > input{
	width: 12%;
	margin-left: 40%;
}

.setting-content-firm > ul > .first-setting > input{
    width: 12%;
    margin-left: 29%;
}

.first-setting,
.second-setting,
.third-setting{
	margin-top: 4%;
}

.btn-setting-pravoohran > button{
	margin-left: 2%;
	margin-top: 5%;
}

.btn-setting-firm > button{
	margin-left: 2%;
	margin-top: 2%;
}

/***************************************************/
.form-control:focus,
.form-group > .form-control:focus,
body > div.home-content.col-lg-12 > div > form > button:focus,
.registration > form > .btn-primary:focus,
#client-check > form > button:focus,
#client-check > form > div > button:focus,
.authorization .form-group input:focus{
	outline: none;
	border-color: rgb(255, 153, 0);
}

.authorization > form > .btn-primary,
.buttons-firm > .btn-primary,
.registration > form > .btn-primary,
.buttons-pravoorgan > .btn-primary,
.btn-checkout button,
#client-check > form > div > button:hover,
.btn-setting-pravoohran > button,
.btn-setting-firm > button,
body > div.setting-content-pravoorg.col-lg-12 > div > button:hover,
body > div.setting-content-pravoorg.col-lg-12 > div > button:visited,
body > div.setting-content-firm.col-lg-12 > div > button:hover,
body > div.setting-content-firm.col-lg-12 > div > button:visited,
body > div.authorization.col-lg-4.col-lg-offset-4 > form > div > input:nth-child(2):focus,
#tab-firm > form > div.buttons-firm.col-lg-12 > button:hover,
#tab-organ > form > div.buttons-pravoorgan.col-lg-12 > button:hover,
#client-check > form > button:hover,
body > div.setting-content-pravoorg.col-lg-12 > div > button:focus,
body > div.setting-content-firm.col-lg-12 > div > button:focus,
.police-buttons > button,
.police-buttons > button:hover,
.police-buttons.col-lg-3.col-lg-offset-2 > button:focus{
    font-size: 20px;
	color: black;
	background-color: rgb(208, 81, 10);
	border-color: rgb(255, 153, 0);
	outline: none;
}

body > div.registration-content.col-lg-12 > div > form > button:active,
body > div.home-content.col-lg-12 > div > form > button:active,
body > div.client-prof-content.col-lg-12 > div > a:active,
#tab-firm > form > div.buttons-firm.col-lg-12 > button:active,
body > div.firm-orderhist-content.col-lg-12 > div > div.but.col-lg-12 > p:nth-child(1) > a:active,
body > div.client-orderhist-content.col-lg-12 > div > div.but.col-lg-12 > p:nth-child(1) > a:active,
#tab-organ > form > div.buttons-pravoorgan.col-lg-12 > button:active,
#but-order-serv > button:active,
body > div.setting-content-pravoorg.col-lg-12 > div > button:active,
body > div.setting-content-firm.col-lg-12 > div > button:active,
#client-check > form > div > button:active,
.police-buttons.col-lg-3.col-lg-offset-2 > button:active{
	background-color:#fff;
	color:black;
	border-color: rgb(255, 153, 0);
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover{
    background-color: red;
	color: black;
}

.radio-btn > label{
	color: rgb(255, 153, 0);
	font-size: 18px;
	font-weight: 100;
}

.radio-btn{
	margin-top: 3%;
}

.sel-obj-part > label:nth-child(4),
.sel-gun-part > label:nth-child(4),
.sel-locale-part > label:nth-child(4){
	margin-top: 12%;
}

/*.table-select-obj,*/
.content-select-obj,
.content-select-gun,
.content-select-locale{
	display: none;
}

.content-select-obj,
.content-select-gun,
.content-select-locale{
	padding: 0px;
}

#table-list,
#my-object{
  transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
}

#table-list:focus,
#my-object:focus{
	outline: none;
}

.police-buttons > button{
	width: 100%;
	font-size: 20px;
	height: 40px;
}

.police-buttons > button:nth-child(2){
	margin-top: 20px;
}

.police-buttons{
	display: none;
	margin-top: 3%;
}

.authorization  > form > div > ul,
.registration-content > form > div > ul{
	width: 90%;
	border-radius: 0%;
}

.authorization > form > div > ul > li,
.registration > form > div > ul > li{
	list-style-type: none;
}

/*.social-networks > div > div > span > a.pluso-more{
	display: none;
}

.about-content > .social-networks > div > div > span > a{
	margin-top: 10px;
}

.about-content > .social-networks > div{
	left: 257px;
    padding-top: 54px;
}*/